<div class="against-screen">
  <div id="happy">
    <p @code>{{code}}</p>
    <qrcode @qr [level]="1" [qrvalue]="qrCode"></qrcode>
  </div>
  <div class="button-contain">
    <button *ngIf="!started" @button (click)="startGame()">Start Game</button>
    <button *ngIf="started" style="margin-bottom: 10px;" (click)="nextCard()">Next Card</button>
    <button  *ngIf="started" (click)="endGame()">End Game</button>
  </div>

    <div class="card">
      {{bCard}}
    </div>
    <div class="score-board">
      <div style="font-size: 2.5vh;" id="scoreboard" >Scoreboard</div>
      <mat-list>

        <mat-list-item *ngFor="let user of users" style="color:white !important">
          <div mat-line>{{user.name}}</div>
          <div mat-line> {{user.score}} </div>
        </mat-list-item>
      </mat-list>

    </div>
</div>
