<div class="against-home">
  <div class="title">
    <p @zoom>Zoom</p>
    <p @against>Against</p>
    <p @humanity>Humanity</p>
  </div>
  <p id="happy" @happy>{{edition}}</p>
  <div class="button-contain" *ngIf="!isMobile">
    <button @button (click)="playGame()">Play Game</button>
  </div>
  <div class="button-contain" style="grid-column-start: 2; grid-row-start: 3;" *ngIf="isMobile">
    <button @button (click)="playGame()">Join a Host</button>
    <p style="margin-top: 2vh;">Host a game on any personal computer.</p>
  </div>
</div>
