<div class="mobile-container">
  <div class="header">
    {{msg}}
  </div>

  <div *ngFor="let c of cards; let i = index">
  <mat-card [@card]="i === 0? animateCard: ''" class="card paper"
  (swipeRight)="right()"
  (swipeLeft)="left()"
  (swipeUp)="send(i)"
  [ngClass]="{'uno': cards.length === 1}"
 >
    <mat-card-content>
      <p>
        {{c}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="!isMobile">
      <button mat-button (click)="send(i)">SEND</button>
      <button mat-button (click)="right()">NEXT</button>
    </mat-card-actions>
  </mat-card>

</div>
</div>
